<div class='col-xs-12 button-wrapper'>
  <button type="button" class="btn btn-lg col-xs-12">
    <span class="glyphicon glyphicon-user pull-left" ></span>
    Add Users</button>
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button class="btn btn-lg btn-danger col-xs-12" ng-click="populateRules()">
    <span class="glyphicon glyphicon-tasks pull-left"></span>Show Rules
  </button>
  <button class="btn btn-lg btn-success col-xs-12">
    <span class="glyphicon glyphicon-earphone pull-left"></span> Call Us
</button>
</div>