<section class="container">
	  <section class="login-form">
			<form name="login" ng-submit="doLogin()" role="login">
				<!--<label>Username</label>-->
				<input type="text" placeholder="Enter sername" ng-model="username" required class="form-control" />

			<!--	<label>Password</label> -->
				<input type="password" placeholder="Enter password" ng-model="password" required class="form-control" />
				<br>
				<button type="submit" name="go" class="btn btn-success">Sign in</button>
			</form>
		</section>
	</section>
