<div class="login">
    <div class="login-container">
        <div class="login-logo">
            <img alt="Logo Philips" class="img-responsive" src="img/logo-philips.svg">
			</br><h2 style="color:white">DMS</h1>
        </div>
    </div>
    <div class="login-form">
        <form name="login" ng-submit="doLogin()" novalidate>
            <div class="login-form-area">
                <input class="form-control input-lg" type="text" placeholder="Username" ng-model="username" autocomplete="off" required/>
                <input class="form-control input-lg" type="password" placeholder="Password" ng-model="password" autocomplete="off" required/>
                <button class="pt-button green" data-icon="patientviewing" type="submit">Login</button>
                <div> <div ng-if = 'errors.loginError' style="color:red"> {{errors.loginErrMsg}} </div> </div>
            </div>
        </form>
    </div>
</div>