<div>
  <div style="color: #999;">
    <label class="col-xs-6" style="font-weight: normal;">Hi {{user}} you are logged-in as</label>
    <label class="col-xs-4 col-xs-offset-1">{{role}}</label>
  </div>
  <br>
  <div class="container jumbotron">
    <h3 class="protocol-display">{{ruleText}}</h3>
    <a class="btn btn-primary btn-lg btn-block" ng-click="showNextRule()" style="margin-top:10px"><h3>Next</h3></a>
  </div>

  <ul class="list-inline button-bar" style="margin-left:0">
    <li class="tile tile-orange glyphicon glyphicon-home" style="padding-top:10px" ng-click="goToHome()"><h4 style:"color:white">Home</h4></li>
    <li class="tile tile-pumpkin glyphicon glyphicon-remove"><h4 style:"color:white">Exit</h4></li>
  </ul>

</div>
