.header-text {
  text-align: center;
}

.login-form {
  background-color: #edeff1;
  padding: 20px;
  position: relative;
}

.footer {
    /* just for demo */
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */

    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.container {
    max-width: 100%;
}

.form-signin {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.tile{
    height:100px;
    float:left;
    margin:0 5px 0 0;
    padding:2px;
    text-align: center;
    opacity: .75;
    background-color: #2e8bcc;
    z-index: 1;
    border: 4px whitesmoke solid;
    color: #fff;
    margin-bottom: 20px;
}

.body-format{
  background-color: whitesmoke;
}

.logo-img path {
  fill: #fff;
}

.tile.tile-teal {
    background-color: #00aba9;
}

.tile.tile-orange {
    background-color: #f39c12;
}

.tile.tile-pumpkin {
    background-color: #d35400;
}

.protocol-display {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #00aba9;
}

.button-bar {
    position: absolute;
    bottom: 60px;
    margin: 10px;
}
