/* Bordered form */

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #0f3575;
    background-image: linear-gradient(125deg, rgb(8, 16, 38) 0px, rgb(0, 52, 120) 60%, rgb(0, 102, 161) 100%);
    background-image: -webkit-linear-gradient(top, #0f3575 0%, #0f3575 51%);
    background-image: -ms-linear-gradient(top, #0f3575 0%, #0f3575 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0f3575), color-stop(0.51, #0f3575));
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    opacity: 1;
}



/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the logo image inside this container */

.imgcontainer {
    text-align: center;
    margin: 5px 0 5px 0;
}


/* logo image */

img.logo {
    position: center;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 100px;
    /* text area height */
    width: 100px;
    /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#systemAdmin {
    background-image: url("img/systemAdmin.jpg");
    background-repeat: no-repeat;
    list-style-type: none;
    height: 42px;
}

#contacts {
    background-image: url("img/contacts.png");
    background-repeat: no-repeat;
    list-style-type: none;
    height: 42px;
}

nav ul li {
    float: left;
    margin: 0 20px 0 0;
}

nav ul li a {
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(icons.png);
    background-repeat: no-repeat;
}

nav ul li:nth-child(1) a {
    background-color: #5bb2fc;
    background-position: 28px 28px;
}

nav ul li:nth-child(2) a {
    background-color: #5bb2fc;
    background-position: 28px -96px;
}

nav ul li a span {
    font: 50px "Dosis", sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 580px;
    top: 29px;
    display: none;
}

nav ul li a:hover span {
    display: block;
}


/*Custom CSS*/

.main-app {
    margin-top: -135px;
}

.app-container {
    width: 100%;
    height: 56.25%;
}

.login-top {
    position: absolute;
}

.login-shield {
    height: 50%;
    top: 25%;
    left: 48.3%;
}

.login-title {
    width: 100%;
    margin: auto;
    height: 3%;
    margin-bottom: 6%;
    top: 32.6%;
}
.login-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54.75%;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: "CentraleSansCndBook";
}

.login-form-area {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 36px;
}
.login-logo {
	margin: auto;
	top: 14.60%;
	position: absolute;
	height: 18%;
	text-align: center;
	display: block;
	width: 100%;
}

body .pt-button{
    width: 100%;
	min-width:5em;
	height:32px;
	padding:0 12px 0 12px;
    margin: 16px 0;
	//background-color:#e6e6e6;
	border:none;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	font-size:16px;
	-moz-box-shadow: 0 0.063em 0 rgba(0, 0, 0, 0.6), 0 -0.063em 0 rgba(242, 242, 242, 1);
	-webkit-box-shadow: 0 0.063em 0 rgba(0, 0, 0, 0.6), 0 -0.063em 0 rgba(242, 242, 242, 1);
	box-shadow: 0 0.063em 0 rgba(0, 0, 0, 0.6), 0 -0.063em 0 rgba(242, 242, 242, 1);
	color:#FFF;
	outline:none;
	cursor:pointer;
    font-family:"CentraleSansCndBook";
    letter-spacing: 0.1px;
}